<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1 , shrink-to-fit=no">
    <title>SchuBot</title>

    <!--  
        //<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->


    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/chat.css">
    <link rel="stylesheet" href="./css/toggle.css">

</head>

<div id="commandSounds">

</div>


<body class="nav-md">

    <div id="chkBoxList" class="moduleToggleSwitches">

        <div>
            <i id="notesNotification" class="fas fa-bell" style="font-size:24px"></i>
        </div>

        <div>
            <label id="mixrConnectionLabel" for="mixrConnection">Connecting to Mixer:</label>
            <!-- value="70"-->
            <progress id="mixrConnection" max="100"></progress>



        </div>

        <div style="margin-bottom:20px;">

            <div style="margin:0;
            float: left; padding-right:15px;"><i class="fas fa-signal" style="color:green;font-size:24px;margin-top:5px;"></i><span style="float:left;font-size: 10px;margin-top:10px;">Signal</span></div>

            <div><i id="mixericonleft" class="fas fa-chevron-right" style="color:white;font-size:24px;margin-top:5px;"></i>
                <i id="mixericonright" class="fas fa-chevron-left" style="color:lightskyblue;font-size:24px;margin-top:5px;margin-left:-2px;"></i>
                <span style="float:left;font-size: 10px;margin-top:10px;">Mixer Chat</span></div>

        </div>

        <div style="width:95%;">

            <p id="welcome"></p>
        </div>
        <div style="width:95%;">
            <p id="beamConnection"></p>
        </div>

        <p id="casterAccount"></p>
        <p id="botAccount"></p>

        <div>
            <br>
            <i class="fas fa-grip-horizontal" style="font-size:16px;"></i>
            <i class="fas fa-grip-horizontal" style="font-size:16px;"></i>
            <i class="fas fa-grip-horizontal" style="font-size:16px;"></i>
            <i class="fas fa-grip-horizontal" style="font-size:16px;"></i>
            <i class="fas fa-grip-horizontal" style="font-size:16px;"></i>
            <i class="fas fa-grip-horizontal" style="font-size:16px;"></i>
            <i class="fas fa-grip-horizontal" style="font-size:16px;"></i>
            <i class="fas fa-grip-horizontal" style="font-size:16px;"></i>


        </div>


        <div>
            <span class="switchModuleText">UI Theme</span>
            <button id="UIthemeSwitchesActionBtn" class="toggleButton" onclick="toggleSwitchModules('divwrapperuithemeswitch');" type="button" class="btn"><i class="fas fa-sort" style="font-size:16px;"></i></button>


            <div id="divwrapperuithemeswitch">
                <span class="switchModuleTextSmall">(Auto Saves)</span>
                <br></br>
                <fieldset>
                    <div>
                        <input type="color" id="OutsideColorPicker" name="color" value="#000080" />
                        <label for="outside">Outside</label>
                    </div>

                    <div>
                        <input type="color" id="InsideColorPicker" name="color" value="#0000a0" />
                        <label for="inside">Inside</label>
                    </div>

                    <div>
                        <input type="color" id="TogglesColorPicker" name="color" value="#0000a0" />
                        <label for="Text">Button Color</label>
                    </div>

                    <div>
                        <input type="color" id="TogglesTextColorPicker" name="color" value="#400040" />
                        <label for="Text">Button Text</label>
                    </div>

                    <div>
                        <input type="color" id="SearchColorPicker" name="color" value="#c0c0c0" />
                        <label for="Text">Search</label>
                    </div>

                    <div>
                        <input type="color" id="DropdownTextColorPicker" name="color" value="#400040" />
                        <label for="Text">Combo Text</label>
                    </div>

                    <div>
                        <input type="color" id="DropdownBackgroundColorPicker" name="color" value="#808080" />
                        <label for="Text">Combo</label>
                    </div>

                    <div>
                        <input type="color" id="ModuleTextColorPicker" name="color" value="#ff8040" />
                        <label for="Text">Text</label>
                    </div>

                    <div>
                        <input type="color" id="ModuleBackgroundColorPicker" name="color" value="#ff8040" />
                        <label for="Text">Background</label>
                    </div>

                    <!-- <button id="UISaveThemeSwitchesActionBtn" class="toggleButton" type="button" class="btn">Save</button> -->
                </fieldset>
            </div>
        </div>
        <br>
        <div id="chatSwitches">
            <span class="switchModuleText">Chat</span>
            <button id="chatSwitchesActionBtn" class="toggleButton" onclick="toggleSwitchModules('divwrapperchatswitch');" type="button" class="btn"><i class="fas fa-sort" style="font-size:16px;"></i></button>
            <br></br>

            <div id="divwrapperchatswitch">

                <div id="chatUsersSwitch">
                    <label class="switch">
                            <input id="chtUsrChkBox" type="checkbox" checked>
                            <span class="slider round"></span>
                            <p style="padding-left:42px;" class="slider-text">Viewer List</p>
                          </label>
                </div>
                <br>
                <div id="chatBoxSwitch">

                    <label class="switch">
                                <input id="chtBoxChkBox" type="checkbox" checked>
                                <span class="slider round"></span>
                                <p style="padding-left:42px;" class="slider-text">Chat Window</p>
                              </label>

                </div>
                <br>
            </div>
        </div>




        <div id="FollowingSwitches">
            <span class="switchModuleText">Following</span>
            <button id="FollowingSwitchesActionBtn" class="toggleButton" onclick="toggleSwitchModules('divwrapperFollowingswitch');" type="button" class="btn"><i class="fas fa-sort" style="font-size:16px;"></i></button>
            <br></br>
            <div id="divwrapperFollowingswitch">

                <div>
                    <label class="switch">
                                        <input id="recentFollowersChkBox" type="checkbox" checked>
                                        <span class="slider round"></span>
                                        <p style="padding-left:42px;" class="slider-text">Recent Followers</p>
                                      </label>

                </div>

                <br>
                <div>

                    <label class="switch">
                        <input id="followersChkBox" type="checkbox" checked>
                        <span class="slider round"></span>
                        <p style="padding-left:42px;" class="slider-text">Follower List</p>
                    </label>

                </div>

                <br>
                <div>

                    <label class="switch">
                        <input id="followingChkBox" type="checkbox" checked>
                        <span class="slider round"></span>
                        <p style="padding-left:42px;" class="slider-text">Following List</p>
                    </label>

                </div>
                <br>
            </div>
        </div>

        <div id="AnalyticsSwitches">
            <span class="switchModuleText">Analytics</span>
            <button id="AnalyticsSwitchesActionBtn" class="toggleButton" onclick="toggleSwitchModules('divwrapperAnalyticswitch');" type="button" class="btn"><i class="fas fa-sort" style="font-size:16px;"></i></button>
            <br></br>
            <div id="divwrapperAnalyticswitch">
                <div>
                    <label class="switch">
                        <input id="analyticsViewsChkBox" type="checkbox" checked>
                        <span class="slider round"></span>
                        <p style="padding-left:42px;" class="slider-text">Analytics</p>
                    </label>
                </div>
                <br>
            </div>
        </div>

        <div id="MediaSwitches">
            <span class="switchModuleText">Media</span>
            <button id="MediaSwitchesActionBtn" class="toggleButton" onclick="toggleSwitchModules('divwrapperMediaSwitch');" type="button" class="btn"><i class="fas fa-sort" style="font-size:16px;"></i></button>
            <br></br>
            <div id="divwrapperMediaSwitch">
                <div>
                    <label class="switch">
                        <input id="mediafilesChkBox" type="checkbox" checked>
                        <span class="slider round"></span>
                        <p style="padding-left:42px;" class="slider-text">Media Files</p>
                    </label>
                </div>
                <br>

                <br>
            </div>

        </div>

        <div id="CommandsSwitches">
            <span class="switchModuleText">Commands</span>
            <button id="CommandsSwitchesActionBtn" class="toggleButton" onclick="toggleSwitchModules('divwrapperCommandsSwitch');" type="button" class="btn"><i class="fas fa-sort" style="font-size:16px;"></i></button>
            <br></br>
            <div id="divwrapperCommandsSwitch">
                <div>
                    <label class="switch">
                        <input id="commandsListChkBox" type="checkbox" checked>
                        <span class="slider round"></span>
                        <p style="padding-left:42px;" class="slider-text">Command List</p>
                    </label>
                </div>
                <br>
            </div>

        </div>

        <div id="AlertSwitches">
            <span class="switchModuleText">Alerts</span>
            <button id="AlertSwitchesActionBtn" class="toggleButton" onclick="toggleSwitchModules('divwrapperAlertsSwitches');" type="button" class="btn"><i class="fas fa-sort" style="font-size:16px;"></i></button>
            <br></br>
            <div id="divwrapperAlertsSwitches">
                <div>
                    <label class="switch">
                        <input id="alertfilesChkBox" type="checkbox" checked>
                        <span class="slider round"></span>
                        <p style="padding-left:42px;" class="slider-text">Alert Files</p>
                    </label>
                </div>
                <br>
                <div>
                    <label class="switch">
                        <input id="hostalertsChkBox" type="checkbox" checked>
                        <span class="slider round"></span>
                        <p style="padding-left:42px;" class="slider-text">Host Alert List</p>
                    </label>
                </div>
                <br>
                <div>
                    <label class="switch">
                        <input id="followalertsChkBox" type="checkbox" checked>
                        <span class="slider round"></span>
                        <p style="padding-left:42px;" class="slider-text">Follow Alert List</p>
                    </label>
                </div>
                <br>
            </div>
        </div>

        <div id="TriggerSwitches">
            <span class="switchModuleText">Keywords</span>
            <button id="TriggerSwitchesActionBtn" class="toggleButton" onclick="toggleSwitchModules('divwrapperTriggerSwitches');" type="button" class="btn"><i class="fas fa-sort" style="font-size:16px;"></i></button>
            <br></br>
            <div id="divwrapperTriggerSwitches">
                <div>
                    <label class="switch">
                        <input id="keywordsListChkBox" type="checkbox" checked>
                        <span class="slider round"></span>
                        <p style="padding-left:42px;" class="slider-text">Trigger List</p>
                    </label>
                </div>
                <br>
            </div>
        </div>

        <div id="NotesSwitches">
            <span class="switchModuleText">Notes</span>
            <button id="NotesSwitchesActionBtn" class="toggleButton" onclick="toggleSwitchModules('divwrapperNotesSwitches');" type="button" class="btn"><i class="fas fa-sort" style="font-size:16px;"></i></button>
            <br></br>
            <div id="divwrapperNotesSwitches">
                <div>
                    <label class="switch">
                        <input id="notesListChkBox" type="checkbox" checked>
                        <span class="slider round"></span>
                        <p style="padding-left:42px;" class="slider-text">Notes List</p>
                    </label>
                </div>
            </div>
        </div>

        <div id="PartySwitches">
            <span class="switchModuleText">Party </span>
            <span class="switchModuleTextSmall">(Coming Soon)</span>
            <br></br>
        </div>

        <div id="ModerationSwitches">
            <span class="switchModuleText">Monitors</span>
            <button id="ModerationSwitchesActionBtn" class="toggleButton" onclick="toggleSwitchModules('divwrapperModerationSwitches');" type="button" class="btn"><i class="fas fa-sort" style="font-size:16px;"></i></button>
            <br></br>
            <div id="divwrapperModerationSwitches">
                <div>
                    <label class="switch">
                        <input id="modMonChkBox" type="checkbox" checked>
                        <span class="slider round"></span>
                        <p style="padding-left:42px;" class="slider-text">Mod Monitor</p>
                    </label>
                </div>
            </div>
        </div>

        <div id="TimerSwitches">
            <span class="switchModuleText">Timers</span>
            <button id="TimerSwitchesActionBtn" class="toggleButton" onclick="toggleSwitchModules('divwrapperTimerSwitches');" type="button" class="btn"><i class="fas fa-sort" style="font-size:16px;"></i></button>
            <br></br>
            <div id="divwrapperTimerSwitches">
                <div>
                    <label class="switch">
                        <input id="timerListChkBox" type="checkbox" checked>
                        <span class="slider round"></span>
                        <p style="padding-left:42px;" class="slider-text">Timer List</p>
                    </label>
                </div>
                <br>
            </div>
        </div>

        <div id="CurrencySwitches">
            <span class="switchModuleText">Currency</span>
            <button id="CurrencySwitchesActionBtn" class="toggleButton" onclick="toggleSwitchModules('divwrapperCurrencySwitches');" type="button" class="btn"><i class="fas fa-sort" style="font-size:16px;"></i></button>
            <br></br>
            <div id="divwrapperCurrencySwitches">
                <div>
                    <label class="switch">
                        <input id="CurrencySwitchChkBox" type="checkbox" checked>
                        <span class="slider round"></span>
                        <p style="padding-left:42px;" class="slider-text">Currency</p>
                    </label>
                </div>
                <br>
            </div>
        </div>
        </br>
        <br>
        <div>
            <h4>Switch ALL Timers On/Off</h4>
            <label class="switch1">
                <input id="switch1" type="checkbox" checked />    <div></div>
            </label>
        </div>
        <br>
    </div>

    <div class="container body">
        <div class="main_container">
            <!-- width:1200px;height:1000px; -->
            <div id="container" style="top:1px;left:1px;">

                <img id="backgroundlogo" draggable="false" src="http://placekitten.com/500/500" class="transparent">

                <!--Graphs for analysis uses chart.js-->
                <!--                 <div class="chart-container" style="position: relative; height:10vh; width:20vw; ">
                    <canvas style="background-color: white; " id="canvas"></canvas>
                </div> -->



                <div id="divWrapperCommandsList" style="width:1090px;height:380px; left: 0px; top: 300px;">
                    <div id="menubarnarrowcommandslist">
                        <div class="btn-group-vertical-right" role="group">
                            <button class="toggleButton" id="commandListToggleBtn" onclick="slide1090()"><i class='fas fa-arrows-alt-h' style='font-size:20px;color:white;'></i></button>
                            <button class="toggleButton" id="commandListBtn" onclick="minimiseCommandListBox('wrapperCommandsList','divWrapperCommandsList')" type="button"><i class='fas fa-arrows-alt-v' style='font-size:20px;color:white;'></i></button>
                        </div>

                        <div style="width:50%;clear:right;float:left;">
                            <p id="commandsListHeaderText">Commands List</p>
                        </div>

                        <div style="position:absolute;left:135px;top:22px;" class="modulemenubartext" id="chatCountCommandsDiv">
                            <p id="commandsListCount">0</p>
                        </div>

                        <div class="btn-group-vertical-right" role="group">
                            <button type="button" id="movCommandsListModule" class="square-buttonGroupVertical" onmousedown="mydragg2.startMoving('divWrapperCommandsList','container',event);" onmouseup="mydragg2.stopMoving('container');">
                                <i class='fas fa-arrows-alt' style='font-size:20px;color:white;'></i>
							</button>
                        </div>
                    </div>

                    <div id="wrapperCommandsList">
                        <div class="insideBox" id="commandsListbox" style="overflow-x:auto;float:left;">
                            <div>
                                <span> <p class="moduleText" style="width:50px;padding: 0; margin: 0;float: left;">Search:</p> 
                                    <input type="text" id="myInputCO" class="moduleSearchBox" onkeyup="searchCommandsListFunction()" placeholder="Search for command.." style="background: rgb(204, 204, 204);width: 50%;padding: 0;margin: 0;float: left;"> </span>
                            </div>
                            <table id="tableCO">
                                <thead>
                                    <th width="5%">Act</th>
                                    <th width="15%">Cmd Name</th>
                                    <th width="20%">Text</th>
                                    <th width="8%">Perms</th>
                                    <th width="12%">User</th>
                                    <th width="13%">Audio</th>
                                    <th width="13%">Video</th>
                                    <th width="14%">Image</th>
                                </thead>
                                <tbody style="width:300px;" id="tableCOBody">

                                </tbody>

                            </table>
                        </div>

                        <div id="wrapperCommandsInner" style="display:block;">
                            <div id="commandsbox" class="insideBoxCommands">
                                <div id="commandparams" style="width:350px;float:left;padding-left:5px;">
                                    <div id="cmdEnabled" style="margin-bottom:10px;">
                                        <div class="cmdSpans" id="cmdEnabledLabel">Enabled:-</div>
                                        <div id="cmdBoxEnabled"> <input id="chkBoxInputEnabled" type="checkbox" checked="checked" /></div>
                                    </div>

                                    <div id="botCmdName">
                                        <div class="cmdSpans" id="cmdNameLabel">Command Name:- </div>
                                        <div>
                                            <input id="commandName"></input>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="cmdSpansCombo" id="cmdPermissionLabel">Permission</div>
                                        <select id="selOptPermission" class="dropdownTheme" onchange="commandsPanelSelectPerms(value);">
                                        <option value="default">Select an Option</option>
                                        <option value="Mod" >Mod</option>
                                        <option value="Viewer">Viewer</option>
                                        <option value="Owner">Owner</option>
                                        <option value="Follower">Follower</option>
                                        <option value="Subscriber">Subscriber</option>
                                        <option value="User">User Specific</option>
                                        </select>
                                        <div style="float:right;">
                                            <img id="commandsDoneIcon" style="position:relative;margin-right:20px;margin-top:20px;height:10px;width:10px;" scr="../img/moveicon.png">
                                        </div>
                                    </div>

                                    <div>
                                        <div id="cmdUserLabel" class="cmdSpans">User </div>
                                        <input id="commandUser" readonly>
                                    </div>
                                    <div>
                                        <div id="cmdAudioFile" class="cmdSpansCombo">Audio File ...... </div>
                                        <select id="audioSelect" class="dropdownTheme">
                                        <option value="default">Select an audio file</option>
                                    </select>
                                    </div>
                                    <div>
                                        <div id="cmdVideoFile" class="cmdSpansCombo">Video File ...... </div>
                                        <select id="videoSelect" class="dropdownTheme">
                                <option value="default" class="moduleText">Select a video file</option>
                                </select>
                                    </div>
                                    <div>
                                        <div id="cmdImageFile" class="cmdSpansCombo">Image File ...... </div>
                                        <select id="imageSelect" class="dropdownTheme">
                                <option value="default">Select an image file</option>   
                                </select>
                                    </div>
                                </div>

                                <div id="commandtextbox" style="width:320px;float:left;">
                                    <div>
                                        <span><div id="cmdTextLabel" class="cmdSpans">Text </div></span>
                                        <textarea id="commandText" rows="5" cols="34" placeholder="Enter command text here" required></textarea>
                                    </div>
                                    <div style='float: left;width: 200px;'>
                                        <div id="cmdVarsLabel" class="cmdSpansCombo" style="width:36px;">Vars</div>
                                        <select id="selOptVars" class="dropdownTheme">
                                        <option value="default">Select a variable</option>
                                        <option value="uptime" >Uptime</option>
                                        <option value="user">User</option>
                                        <option value="target">Target</option>
                                        <option value="caster">Caster</option>
                                        <option value="sparks">Sparks</option>
                                        <option value="chanellInfo">Channel Info</option>
                                        <option value="level">Level</option>
                                        <option value="joinedDatetime">Joined Date</option>
                                        <option value="joinedUserFriendly">Joined</option>
                                        <option value="random">Random User</option>
                                        <option value="randomEx">Random User Excl Self </option>
                                        </select>
                                    </div>
                                    <button class="toggleButton" type="button" id="addCommandVar" onclick="addCommandVarToTextBox()" style="height:25px;width:25px;margin-top: 40px;"><i class='fas fa-plus' style='font-size:14px;color:yellowgreen;'></i> </button>
                                    <div id="commandSubmit">
                                        <div class="btn-group-vertical-right" role="group">
                                            <button class="toggleButton" id="submitCommandButton" type="button" onclick="addSaveCommand()">Save <i class='far fa-save' style='font-size:20px;color:white;'></i></button>
                                            <button class="toggleButton" id="deleteCommandButton" type="button" onclick="deleteCommand()">Del <i class='far fa-trash-alt' style='font-size:20px;color:darkred;'></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Insert this line above script imports  -->
    <script type="text/javascript">
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>


					
					
						<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="https://kit.fontawesome.com/e110218193.js" crossorigin="anonymous"></script>
	
			<script type="text/javascript" src="./partials/js/botio.js"></script>
	<script type="text/javascript" src="./partials/js/dragObject.js"></script>
			<script type="text/javascript" src="./partials/js/listManager.js"></script>
			<script type="text/javascript" src="./partials/js/connectionManager.js"></script>
		<script type="text/javascript" src="./partials/js/sliderFunctions.js"></script>
					
                        <!-- normal script imports etc  -->
                        <!-- Insert this line after script imports -->
                        <script type="text/javascript">
                            if (window.module) module = window.module;
                        </script>
                     

</body>

</html>