<!DOCTYPE html>
<html>

<head>
    <title>SchBot</title>
    <link href="../css/bootstrap.css" rel="stylesheet" type="text/css">

    <!--Custom Fonts 
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

     Plugin CSS
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/simple-line-icons/css/simple-line-icons.css">

     Theme CSS 
    <link href="/css/login.css" rel="stylesheet">
-->




</head>

<body>
    <div class="container">
        <h1 class="well">Bot Login</h1>
        <div class="col-lg-12 well">
            <!--             <div class="row">
                <div class="col-sm-6 form-group">
                    <label>User Name</label>
                    <input type="text" placeholder="username.." class="form-control">
                </div>
                <div class="col-sm-6 form-group">
                    <label>Password</label>
                    <input type="password" placeholder="password.." class="form-control">
                </div>
            </div> -->
            <!--             <div class="row">
                <div class="col-sm-12 text-center">

                    <button type="button" class="btn btn-block btn-info">Login</button> 
                    <a href="/login" class="btn btn-block btn-info"><span class="fa fa-beam"></span> Login</a>
                </div>
            </div> -->
            <!--             <div class="or-text">
                <div class="or-text-row">
                    <div class="or-text-line">
                        <button type="button" class="btn btn-default btn-circle" disabled="disabled">or</button>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <!--                 <div class="col-sm-4">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">
                <i class="fa fa-facebook"></i>Sign in with Facebook
              </button>
                    </div>
                </div> -->
                <!--                 <div class="col-sm-4">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger">
                <i class="fa fa-google-plus"></i>Sign in with GooglePlus
              </button>
                    </div>
                </div> -->
                <!--                 <div class="col-sm-4">
                    <div class="btn-group">
                        <button type="button" class="btn btn-info">
                <i class="fa fa-linkedin"></i>Sign in with Linkedin
              </button>
                    </div>
                </div> -->
                <div class="col-sm-4">
                    <div class="btn-group">
                        <!-- /auth/beam "../botlogin.html" -->
                        <button id="BotLogin" class="btn btn-block btn-info"><span class="fa fa-beam"></span>Bot Sign in with Mixer</button>
                        <button id="StreamerLogin" class="btn btn-block btn-info"><span class="fa fa-beam"></span>Streamer Login</button>
                        <button id="AutoUpdate" class="btn btn-block btn-info"><span class="fa fa-beam"></span>Update Bot</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Insert this line above script imports  -->
    <script type="text/javascript">
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <!-- normal script imports etc  -->

    <!-- Insert this line after script imports -->
    <script type="text/javascript">
        if (window.module) module = window.module;
    </script>
    <script type="text/javascript">
        // include the ipc module to communicate with main process. 
        const ipcRenderer = require('electron').ipcRenderer;

        //const {session} = require('electron').remote;


        /*         const {
                    remote
                } = require('electron');
                const {
                    BrowserWindow
                } = remote;
         */

        // this is the streamer login
        const btnclickStreamer = document.getElementById('StreamerLogin');
        btnclickStreamer.addEventListener('click', function() {

            ipcRenderer.send('mixer-login', 'streamer');

        });

        const btnclickBot = document.getElementById('BotLogin');
        btnclickBot.addEventListener('click', function() {

            ipcRenderer.send('mixer-login', 'bot');

        });


        const btnclickAutoUpdate = document.getElementById('AutoUpdate');
        btnclickAutoUpdate.addEventListener('click', function() {

            ipcRenderer.send('autoUpdate', 'bot');

        });
    </script>


</body>



</html>