<!DOCTYPE html>
<html>

<head>
    <title>iBot - Streaming Solution</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">

    <!--Custom Fonts 
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

     Plugin CSS
    <link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/simple-line-icons/css/simple-line-icons.css">

     Theme CSS 
    <link href="/css/login.css" rel="stylesheet">
-->

</head>

<body>
    <div class="container">
        <h1 class="well">Streamer Login</h1>
        <div class="col-lg-12 well">

            <div class="row">

                <div class="col-sm-4">
                    <div class="btn-group">
                        <!-- /auth/beam -->
                        <a href="./streamerlogin" id="StreamerLogin" class="btn btn-block btn-info"><span class="fa fa-beam"></span>Streamer Signin with Mixer</a>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--    Insert this line above script imports  -->
    <script>
        if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }
    </script>
    <!-- normal script imports etc Insert this line after script imports -->
    <script type="text/javascript">
        if (window.module) module = window.module;
    </script>

    <script type="text/javascript">
        // include the ipc module to communicate with main process.
    </script>

</body>

</html>